.intro{
    height:100vh;
    /* background:url(../img/png/logo.png) no-repeat center; */
    background-size:cover;
    padding-top:250px;
}

.intro__title{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 900;
    font-size: 54px;
    line-height: 70px;
    /* or 130% */
    color: #415167;
}